---
title: Welcome to foo template
---

.dip.unit-100
  %h1 Welcome to Sauce
  %p Everything's set up and ready to go!<br />Start dipping your code in Sauce.

%div.units-row
  %div.unit-25 Hello world
  %div.unit-25 It's Kube Grid System
  %div.unit-25 Hello world
  %div.unit-25 It's Kube Grid System
